<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}"></head>
<body>
    <div th:replace="~{fragments/navbar.html :: navbar}"></div>

    <main role="main">
        <div class="container">
            <div class="container-fluid">
                <h1 class="display-3">Event history</h1>
            </div>

            <div class="container">
                <button type="button" class="btn btn-primary" onclick="deleteEventHistory()">Clean event history</button>
            </div>

            <table class="table table-striped">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Event</th>
                    <th scope="col">Notifications</th>
                </thead>
                <tbody>
                    <tr th:each="event, dataIndex : ${event_log}">
                        <th scope="row" th:text="${dataIndex.index}"></th>
                        <td th:text="${#temporals.format(event.zonedTimestamp, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${event.eventDescription}"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <div th:replace="~{fragments/footer.html :: footer}"></div>

</body>
</html>